:root {
	--primary-clr: hsl(240, 100%, 09%);
	--secondary-clr: hsl(240, 71%, 66%);
	--tertiary-clr: #FFFFFF;
	--light-clr: #EEEEEE;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: Helvetica, sans-serif;
	margin: 0;
	color: var(--primary-clr);
}

input, button {
	font-size: inherit;
	font-family: inherit;
	color: inherit;
}

button {
	cursor: pointer;
}

button:focus,
button:hover {
	scale: 1.1;
}

h1 {
	width: 100%;
	background-color: var(--light-clr);
	padding: 1rem;
	margin: 0;
	font-size: 1.75rem;
}

h1:after {
	content: '🎞️';
}

.cadastro { 
	background-color: var(--primary-clr);
}

.cadastro, .lista {
	padding: 1rem;
}

form {
	display: flex;
	margin-inline: auto;
	flex-direction: column;
	color: var(--primary-clr);
	font-size: 1.2rem;
}

form > * {
	width: 70%;
	max-width: 400px;
}

.field {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto 1rem auto;
	color: var(--tertiary-clr);
}

form, .form__input, .form__input, .form__button {
	border-radius: 5px;
}

.form__input {
	height: 2rem;
}

.form__button {
	width: 100%;
	margin-inline: auto;
	padding: 1rem;
	background-color: hsl(120, 61%, 40%);
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 1.05rem;
	margin-bottom: 1rem;
}

.form__button:after {
	content: '➕';
	position: relative;
	top: -1px;
}

.form__label {
	margin: 0 0 .25rem .25rem;
}

.lista {
	background-color: var(--secondary-clr);
	padding: 2rem 6rem;
}

.grid {
	display: grid;
	gap: 1rem;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 300px);
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--light-clr);
}

.card__body {
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: 26px;
}

.card__titulo {
	font-size: 1.3rem;
	letter-spacing: 1px;
	font-weight: bold;
	height: 70px;
	margin-bottom: 0;
}

.card__duracao {
	font-size: 1.1rem;
	font-weight: lighter;
	align-self: center;
	margin: .25rem 0 0 0;
}

.card__nota {
	display: flex;
	width: 50%;
	flex-direction: row;
}

.card__nota > * {
	width: 25px;
	height: 23px;
}

.card__favorito {
	position: absolute;
	inset: 1rem 1rem auto auto;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.card__favorito * {
	pointer-events: none;
}

:is(.coracao__preenchido, .coracao__vazio) {
	position: absolute;
}

:is(.coracao__preenchido, .coracao__vazio, .coracao__preenchido *, .coracao__vazio *)[data-visivel="false"] {
	visibility: hidden;
	width: 0;
	height: 0;
}

:is(.coracao__preenchido, .coracao__vazio)[data-visivel="false"] {
	visibility: hidden;
	width: 0;
	height: 0;
}

.busca {
	position: relative;
	display: grid;
	grid-template-columns: 9fr 1fr 2fr;
	gap: 0rem;
	margin-bottom: 3rem;
	filter: drop-shadow(2px 3px 5px rgba(0 0 0 / .4));
	border-radius: 10px;
	overflow: hidden;
}

.busca__input, .busca__pesquisar {
	height: 3rem;
	font-size: 1.2rem;
}

.busca__input {
	text-indent: .5rem;
	border: 0;
	grid-column: 1 / span 2;
}

.busca__limpar {
	position: absolute;
	grid-column: 2 / 3;
	font-size: 1.5rem;
	line-height: 1;
	display: grid;
	place-items: center;
	justify-self: right;
	align-self: center;
	margin-right: .5rem;
	border: 0;
	background-color: transparent;
	color: var(--tertiary-clr);
}

.busca__limpar[data-visivel="false"] {
	opacity: 0;
	pointer-events: none;
}

.busca__pesquisar {
	background-color: var(--primary-clr);
	color: var(--tertiary-clr);
	border: 0;
	text-transform: uppercase;
}

.busca__pesquisar:after {
	content: '🔎';
}